@import "bootstrap/scss/bootstrap-grid";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

// .background-bootstrap {
//   background-color: aquamarine;
// }

body {
  font-family: Halyard Text;
  background-color: black;
  color: white;
}

// header

.first-line-header .survole-underline:hover {
  border-bottom: 2px solid white;
}

.first-line-header .survole-underline {
  transition-property: border-bottom;
  transition-duration: 0.5s;
  border-bottom: 2px solid transparent;
}

.second-line-header .survole-underline:hover {
  border-bottom: 2px solid white;
}

.second-line-header .survole-underline {
  transition-property: border-bottom;
  transition-duration: 0.5s;
  border-bottom: 2px solid transparent;
}

.feuilles-header {
  width: 1497px;
}

.logo-header {
  height: 180px;
}

.first-line-header {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 3px solid #c79c3e;
  padding-bottom: 30px;
}

.profil-home-cadi {
  height: 31.938px;
}

.button-header {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  padding-left: 40px;
  align-items: center;
}

.second-line-header {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 23px;
  justify-content: right;
}

.langues {
  background-color: #c79c3e;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
}
.header {
  padding-top: 65px;
}

// phrase d'accroche

.catchphrase {
  color: white;
  text-align: center;
  font-family: "Halyard Text";
  font-size: 48px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  display: flex;
  align-items: center;
  height: 720px;
  text-align: center;
}

.image-fond-catchphrase {
  background: url(../img/vin\ renverse.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 100vh;
}

// selection vin

.selection-vin {
  background-color: #c79c3e;
  margin-top: 77px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 466px;
  height: 55px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.nom-du-vin-selectionne {
  color: #fff;
  font-family: "Halyard Text";
  font-size: 32px;
  font-style: normal;
}

.chevron {
  width: 29px;
  height: 19px;
  flex-shrink: 0;
  margin-top: 5px;
}

// mockup

.mockup {
  width: auto;
  height: 415px;
  flex-shrink: 0;
}

.elixir-charmeuse-pinot {
  display: flex;
  width: 1000px;
  justify-content: left;
  align-items: center;
  flex-shrink: 0;
  margin-left: 120px;
}

.elixir-charmeuse-pinot h2 {
  color: #fff;
  text-align: center;
  font-family: "Exodus Demo";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 3px solid #c79c3e;
  padding-bottom: 40px;
  width: 500px;
}

.elixir-charmeuse-pinot h3 {
  color: #fff;
  text-align: center;
  font-family: "Halyard Text";
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  padding-left: 70px;
}

.elixir-charmeuse-pinot h4 {
  color: #c79c3e;
  text-align: center;
  font-family: "Halyard Text";
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-top: 30px;
  padding-left: 80px;
}

.ensemble-mockup {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 77px;
  padding-bottom: 95px;
}

// informations sur le vin rouge

.informations h2 {
  color: #c79c3e;
  font-family: "Halyard Text";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.informations p {
  color: #fff;
  font-family: "Halyard Text";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.informations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  flex-shrink: 0;
}

// vin blanc

.survole-background:hover {
  background-color: #7c5809;
}

.survole-background {
  transition-property: background-color;
  transition-duration: 0.5s;
}

.bottles-homepage {
  height: 690px;
  flex-shrink: 0;
  transform: translateY(-68px);
}

.exodus-demo-vine-homepage {
  color: #fff;
  font-family: "Exodus Demo";
  font-size: 51.634px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.homepage-wine-buttons {
  background-color: #c79c3e;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 280px;
  color: #fff;
  text-align: center;
  font-family: "Halyard Text";
  font-size: 38.783px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a {
  text-decoration: none;
}

.wine-homepage {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}

.wine-homepage.white {
  background: #1d3450;
  background-image: url(../img/feuilles\ vins.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.charmeur-homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  margin-top: 100px;
  text-align: center;
}

.text-blanc-homepage {
  color: #fff;
  font-family: "Halyard Text";
  font-size: 32.271px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 470px;
}

.vin-blanc-detail {
  padding-top: 140px;
}

// footer
// first line

.active-background:active {
  background-color: #7c5809;
}

.active-background {
  transition-property: background-color;
}

.logo-footer {
  width: 300px;
  margin-top: 100px;
}

.email {
  border: 1px solid #cecece;
  background: #ededed;
  color: #cecece;
  font-family: "Halyard Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  height: 50px;
  width: 250px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
}

.email:focus {
  background-color: #cacaca;
  color: #939393;
}

.button-inscription {
  background-color: #c79c3e;
  color: #fff;
  font-family: "Halyard Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  width: 140px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inscriprion {
  display: flex;
  width: 424px;
  height: 66px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  margin-top: 140px;
  margin-left: 50px;
}

.vente-footer {
  color: white;
  font-family: "Halyard Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 60px;
}

.title-vente-footer {
  color: white;
  font-family: "Halyard Text";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 20px;
  margin-left: 40px;
}

.num {
  background-color: #c79c3e;
  color: #fff;
  font-family: "Halyard Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 40px;
  margin-left: 40px;
}

.horaires {
  padding-bottom: 20px;
  margin-left: 40px;
}

.logo-inscription-vente {
  border-bottom: 3px solid #c79c3e;
  width: 1196px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 65px;
  padding-top: 65px;
}

// second line

.localiser {
  text-align: center;
  margin-top: 30px;
}

.rue {
  color: white;
  text-align: center;
  font-family: "Halyard Text";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 20px;
}

.button-localisation {
  color: white;
  text-align: center;
  font-family: "Halyard Text";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.instagram-facebook {
  width: 46px;
  height: 46px;
  flex-shrink: 0;
}

.appli {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  flex-shrink: 0;
}

.suivez-nous {
  color: white;
  text-align: center;
  font-family: "Halyard Text";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 20px;
}

.resaux {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.gault {
  height: 72px;
  flex-shrink: 0;
  align-self: stretch;
}

.bio-suisse {
  width: 106px;
  height: 87px;
  flex-shrink: 0;
  margin-bottom: 30px;
}

.sponsors {
  display: flex;
  width: 246px;
  height: 189px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  margin-left: 120px;
}

.rue-resaux-sponsors {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 50px;
}

// conditions

.souligne {
  color: white;
  text-align: center;
  font-family: "Halyard Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.droits {
  color: white;
  text-align: center;
  font-family: "Halyard Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.conditions {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

.two {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.survole-color:active {
  color: #c79c3e;
}

.survole-color {
  transition-property: color;
}

.active-background:active {
  background-color: #7c5809;
}

.active-background {
  transition-property: background-color;
  border: none;
}
